@font-face {
    font-family: Dancing_Script;
    src: url("../Font/Dancing_Script/DancingScript-Bold.ttf");
}

* {
    font-family: Dancing_Script;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #fff;
}

.main {
    width: 100%;
    height: 100vh;
    transition: 1s;
    overflow: hidden;
}

.main-page {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 60%;
    display: flex;
    align-items: center;
    top: 2.5%;
}

.section-photo {
    width: 60%;
    margin: 5% auto;
    height: 100%;
}

.para {
    width: 40%;
    margin-right: 10%;
    height: 100%;
    color: #fff;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px salmon;
    margin-top: 7.5%;
    padding: 1% 1%;
}

button {
    background: transparent;
    padding: 10px 20px;
    border: 2px solid salmon;
}

button a {
    text-decoration: none;
    font-size: 120%;
    color: #fff;
}

.main-photo {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 30px #fff;
    z-index: 1;
}

.photo {
    width: 100%;
    height: 100%;
    animation: slider 60s linear infinite;
}

.main-cover-photo {
    width: 100%;
    height: 100vh;
    animation: slider 60s linear infinite;
    z-index: -1;
    background: red;
}

.photo:nth-of-type(1) {
    background: url(../Pictures/g.jpg);
    background-size: cover;
}

.photo:nth-of-type(2) {
    background: url(../Pictures/g1.jpg);
    background-size: cover;
}

.photo:nth-of-type(3) {
    background: url(../Pictures/g2.jpg);
    background-size: cover;
}

.photo:nth-of-type(4) {
    background: url(../Pictures/g3.jpg);
    background-size: cover;
}

.photo:nth-of-type(5) {
    background: url(../Pictures/g4.jpg);
    background-size: cover;
}

.photo:nth-of-type(6) {
    background: url(../Pictures/g5.jpg);
    background-size: cover;
}

.photo:nth-of-type(7) {
    background: url(../Pictures/g6.jpg);
    background-size: cover;
}

.cover-photo {
    width: 100%;
    height: 100%;
}

.cover-photo:nth-of-type(1) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(2) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g1.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(3) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g2.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(4) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g3.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(5) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g4.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(6) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g5.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

.cover-photo:nth-of-type(7) {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.7)),
        url(../Pictures/g6.jpg);
    background-size: cover;
    background-position: 0% 30%;
}

@keyframes slider {
    0% {
        transform: translateY(0);
    }

    4% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-100%);
    }

    12% {
        transform: translateY(-100%);
    }

    16% {
        transform: translateY(-200%);
    }

    20% {
        transform: translateY(-200%);
    }

    24% {
        transform: translateY(-300%);
    }

    28% {
        transform: translateY(-300%);
    }

    32% {
        transform: translateY(-400%);
    }

    36% {
        transform: translateY(-400%);
    }

    40% {
        transform: translateY(-500%);
    }

    44% {
        transform: translateY(-500%);
    }

    48% {
        transform: translateY(-600%);
    }

    52% {
        transform: translateY(-600%);
    }

    56% {
        transform: translateY(-600%);
    }

    60% {
        transform: translateY(-600%);
    }

    64% {
        transform: translateY(-500%);
    }

    68% {
        transform: translateY(-500%);
    }

    72% {
        transform: translateY(-400%);
    }

    76% {
        transform: translateY(-400%);
    }

    80% {
        transform: translateY(-300%);
    }

    84% {
        transform: translateY(-300%);
    }

    88% {
        transform: translateY(-200%);
    }

    92% {
        transform: translateY(-200%);
    }

    96% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-100%);
    }

    104% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1024px) {
    .main-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: 90%;
    }

    .section-photo {
        width: 80%;
        height: 50%;
    }

    .para {
        width: 60%;
        height: 50%;
        box-shadow: none;
        margin-top: 10%;
        text-align: center;
    }

    button {
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 450px) {
    .main-page {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: 80%;
    }

    .section-photo {
        width: 100%;
        height: 30%;
    }

    .para {
        width: 60%;
        height: 50%;
        box-shadow: none;
        margin-top: 20%;
        text-align: center;
    }

    button {
        padding: 20px 40px;
    }
}

@media only screen and (max-height: 450px) {
    .main-page {
        flex-direction: row;
    }
}